body {
  width: 100%;
  max-width: 900px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 848px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movies {
  list-style: none;
  padding: 0;
  margin-top: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  
  width: 100%;
  gap: 1rem;
}

.movie {
  text-align: center;
  column-gap: 1rem;
}

.movie h3,
.movie p {
  margin: 0;
}

.movie img {
  border-radius: 5px;
  margin-top: 1rem;
}
